<p id='hello'>Hello World</p>
<div class="form">
  <input type="text" id='inputBox' value='<%=@text %>'><br>
  変更したい文字：<input type='text' id='beforeText'>
  変更する文字：<input type='text' id='afterText'>
  <button id='changeButton'>変換！</button>
</div>



今回の練習用アプリでは、、Javascriptをrailsに組み込むことを学習の第一目標とする。
ある程度の動きが作れるようになったら、別アプリ（ポートフォリオ用アプリ）を作成
awsの構築を本を読みながら並行作業で行っていく。（読みながら手を動かす）
その後、dockerに関しても同様に行っていく。
